<div class="container">
  <h4>Portfolio</h4>
  <div class="row">
    <div class="col-xs-3">Symbol</div>
    <div class="col-xs-3">P/L (base)</div>
    <div class="col-xs-3">Value (base)</div>
    <div class="col-xs-3">Weight</div>
    <!--
    <div class="col-md-3">Position base</div>
    <div class="col-md-3">P/L base</div>
    <div class="col-md-3">Weight</div>  
    -->
  </div>
  <div *ngFor="let position of positions" class="row">
    <div class="col-xs-3">{{position.symbol}}</div>
    <div class="col-xs-3">{{position.id}}</div>
    <div class="col-xs-3">{{position.id}}</div>
    <div class="col-xs-3">{{position.id}}</div>
    <!--
    <div class="col-md-3">{{position.symbol}}</div>
    <div class="col-md-3">{{position.symbol}}</div>
    <div class="col-md-3">{{position.symbol}}</div>
    -->
  </div>
</div>  